@import url(../style.css);
@import url(../login/caixa-login.css);

h1{
    position: absolute;
    width: 389px;
    height: 54px;
    left: 52%;
    top: 2%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

    color: #008080;
}

h2{
   position: absolute;
    width: 297px;
    height: 58px;
    left: 40px;
    top: 256px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    /* identical to box height */
    color: #FFFFFF;
}

.cont #cad{
        /* botao de entrar */
    box-sizing: border-box;

    position: absolute;
    width: 224px;
    height: 70px;
    left: 80px;
    top: 432px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;

    border: 3px solid #FFFFFF;
    background-color: #008080;
    border-radius: 45px;
}

a #cad:hover, #ent:hover{
    background-color: #124242;
}


.cont img{
    margin-left: 20px;
    margin-top: 35px;
}

#fundo-em{
    /* Rectangle 2 */

position: absolute;
width: 430px;
height: 100px;
left: 450px;
top: 170px;

background: #E8E8E8;
}

#fundo-se{
    /* Rectangle 2 */

position: absolute;
width: 430px;
height: 63px;
left: 450px;
top: 270px;

background: #E8E8E8;
}

#ent{
    /* botao de entrar */
box-sizing: border-box;

position: absolute;
width: 224px;
height: 70px;
left: 550px;
top: 432px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 18px;

border: 3px solid #FFFFFF;
background-color: #008080;
border-radius: 45px;
}

