@import url(../style.css);
@import url(../login/caixa-login.css);

h1{
    position: absolute;
    width: 389px;
    height: 54px;
    left: 50%;
    top: 2%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

    color: #008080;
}

h2{
   position: absolute;
    width: 297px;
    height: 58px;
    left: 40px;
    top: 256px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    /* identical to box height */
    color: #FFFFFF;
}

.cont #cad{
        /* botao de entrar */
    box-sizing: border-box;

    position: absolute;
    width: 224px;
    height: 70px;
    left: 80px;
    top: 432px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;

    border: 3px solid #FFFFFF;
    background-color: #008080;
    border-radius: 45px;
}

a #cad:hover, form .but:hover{
    background-color: #124242;
    pointer-events: painted;
}


.cont img{
    margin-left: 20px;
    margin-top: 35px;
}

#fundo-em{
    /* Rectangle 2 */

position: absolute;
width: 430px;
height: 100px;
left: 450px;
top: 170px;

background: #E8E8E8;
}

form .but{
    /* botao de entrar */
box-sizing: border-box;

position: absolute;
width: 224px;
height: 70px;
left: 120px;
top: 332px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 18px;

border: 3px solid #FFFFFF;
background-color: #008080;
border-radius: 45px;
}

.sel{ /* <div> */
    background-color: #E8E8E8;
    background: #E8E8E8;
    width: 240px;
    height: 44px;
    overflow: hidden;
    background: url(nova_setinha.jpg) no-repeat right #F5F8F3; /* novo ícone para o <select> */
    border: 2.5px solid #008080;
 }   

 .sel select { /* <select> */
    background: transparent; /* importante para exibir o novo ícone */
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    /*-webkit-appearance: none;*/
 }      

 form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #008080;
    font-size: 18px;
 }
