@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*body{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh; 
    background-color: #FFFFFf;
}
*/

.navegacao{
    position: relative;
    height: 750%;
    width: 70px;
    background: #008080;
    box-shadow: 10px 0 0 #065959;
    border-left: 10px solid #008080 ;
    overflow-x: hidden;
    transition: 0.5s;
}

.navegacao:hover{
    width: 300px;
}

.navegacao ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;   
}

.navegacao ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navegacao ul li a{
    position: relative; 
    display: flex;
    width: 100%;
    text-decoration: none;
    color: rgb(237, 237, 237);
}

.navegacao ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navegacao ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}


.navegacao ul li a .list{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap; 
}

/*.navegacao ul li.active{
    background: #065959;
}*/

.navegacao ul li.list:hover{
    background: #065959;
}
.navegacao ul li.list:hover a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #008080;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #065959;
}

.navegacao ul li.list:hover a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px; 
    height: 30px;
    background: #008080;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #065959;
}

li:nth-child(9){
    bottom: -110px;
}

li:nth-child(1){
    margin-bottom: 40px;
}