@import url(../css/lateral-coor.css);

.navegacao{
    position: relative;
    height: 750px;
    width: 250px;
    background: #008080;
    box-shadow: 10px 0 0 #087575;
}

.navegacao ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    
}

.navegacao ul li{
    position: relative;
    list-style: none;
    width: 100%
}

.navegacao ul li a{
    position: relative; 
    display: flex;
    width: 100%;
    text-decoration: none;
    color: rgb(167, 167, 168);
} 
