body { /*Cor do corpo de fundo/plano*/
  background-color: #b9bed6a6;
}

.box .User { /*Nome do tipo de user*/
  color: #ffffff;
  font-family: "Fredoka-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: center;
  top: 0;
  white-space: nowrap;
  }

.box .boto-sobre { /*Cor do texto sobre*/
    height: 68px;
    left: 34px;
    position: absolute;
    top: 960px;
    width: 329px;
  }
 
.box .Soli_Ori { /*Cor do texto sobre*/
  color: #ffffff9e;
  font-family: "Fredoka-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 57px;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 192px;
}

.box .Usuario {
  color: #008080;
  font-family: "Fredoka-SemiBold", Helvetica;
  font-size: 45px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  white-space: nowrap;
}

.box .rectangle {
    height: 360px;
    left: 387px;
    position: absolute;
    top: 59px;
    width: 562px;
    background-color: #ececec;
  }
 
.box .background {
    background-color: #b9bed6a6;
    height: 1024px;
    left: 33px;
    position: absolute;
    top: 6px;
    width: 1440px;
  }
 
.box .conteiner-azul {
    background-color: #055e5e;
    height: 1030px;
    left: 33px;
    position: absolute;
    top: 0;
    width: 338px;
  }
 
.box .overlap-group {
    background-color: #065f5f;
    height: 68px;
    right: 40px;
    position: relative;
    width: 327px;
  }
 
.box .text-wrapper {
    color: #ffffff9e;
    font-family: "Fredoka-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 19px;
    white-space: nowrap;
  }
 
.box .ic-twotone {
    height: 24px;
    left: 657px;
    position: absolute;
    top: -2395px;
    width: 24px;
  }

.box .boto-estgio {
    height: 68px;
    left: 34px;
    position: absolute;
    top: 147px;
    width: 329px;
  }
 
.box .boto-notificaes {
    height: 68px;
    right: 44px;
    position: absolute;
    top: 69px;
    width: 363px;
  }
 
.box .overlap-2 {
    height: 68px;
    left: 34px;
    position: absolute;
    top: 0;
    width: 327px;
  }
 

.box .text-wrapper-3 {
    color: #ffffff9e;
    font-family: "Fredoka-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 57px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 160px;
  }
 
.box .h-1 {
    color: #000000;
    font-family: "Fredoka-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    left: 423px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77px;
    white-space: nowrap;
  }
 
.box .rectangle-2 {
    height: 475px;
    left: 1008px;
    position: absolute;
    top: 60px;
    width: 431px;
    background-color: rgba(255, 255, 255, 0.726);
  }
 
.box .text-wrapper-5 {
    color: #000000;
    font-family: "Fredoka-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    left: 1032px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 92px;
    white-space: nowrap;
  }