@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url(../css/barra_lateral.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  background-color:#ffffff;
}
/*
.caixa-titulo{
  margin-bottom: 46%;
  width:100%;
  background-color: #b9bed6a6;
}

.titulo{
  margin-left: 36%;
}*/

.mover{
    flex: 2;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;
  }

  fieldset {
    border: 2px solid #065f5f;
    padding: 10px;
    box-sizing: border-box;
  }
  
  table {
    left: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid #065f5f;
  }
  
  legend {
    font-family: "Dosis-SemiBold", Helvetica;
    color: #065f5f;
    font-size: 40px;
  }
  th, td {
    font-family: "Dosis-SemiBold", Helvetica;
    font-size: 20px;
    padding: 10px;
    text-align: left;
  }
  
  img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .but{
    /* botao de cadastrar */
box-sizing: border-box;
display: flex;
position: absolute;
/*  display: flex;
justify-content: right;*/
width: 224px;
height: 70px;
left: 1250px;
top: 255px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 18px;

border: 3px solid #FFFFFF;
background-color: #008080;
border-radius: 45px;

}


.but:hover, .but:active{
  background-color: #124242;
}

.but:link, .but:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.curso{
  box-sizing: border-box;

  width: 224px;
  height: 70px;
  left: 120px;
  top: 332px;
  margin-top: 10px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;

  border: 3px solid #FFFFFF;
  background-color: #065f5f;
  border-radius: 45px;
  text-decoration: none;

  padding-top: 22px;
  padding-left: 79px;
  
}

.curso:hover {
  color: white;
  background-color: #124242;

}

.emp{
box-sizing: border-box;
position: absolute;

/*
position: absolute;*/
width: 224px;
height: 70px;
margin-left: 1310px;
margin-top: 120px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
font-size: 18px;

border: 3px solid #FFFFFF;
background-color: #065f5f;
border-radius: 45px;
text-decoration: none;

padding-top: 22px;
padding-left: 70px;

}

.emp:hover {
color: white;
background-color: #124242;
}