@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url(../css/barra_lateral.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  background-color: #b9bed6a6;
}
/*
.caixa-titulo{
  margin-bottom: 46%;
  width:100%;
  background-color: #b9bed6a6;
}

.titulo{
  margin-left: 36%;
}*/

.mover{
    flex: 2;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;
  }

  fieldset {
    border: 2px solid #065f5f;
    padding: 10px;
    box-sizing: border-box;
  }
  
  table {
    left: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid #065f5f;
  }
  
  legend {
    font-family: "Dosis-SemiBold", Helvetica;
    color: #065f5f;
    font-size: 40px;
  }
  th, td {
    font-family: "Dosis-SemiBold", Helvetica;
    font-size: 20px;
    padding: 10px;
    text-align: left;
  }
  
  img {
    max-width: 100px;
    max-height: 100px;
  }
  