.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .white-vertical-bar {
    width: 25%;
    background-color: white;
  }

  .box {
    flex: 1;
    display: flex;
  }

  .box .home-do-coordenador-wrapper {
    border: 0px none;
    height: 1024px;
    width: 1427.09px;
  }
  
  .box .home-do-coordenador-wrapper {
    border: 0px none;
    height: 1024px;
    width: 1427.09px;
  }
 
  .box .home-do-coordenador {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 1024px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 1427px;
  }
 
  .box .overlap {
    height: 1030px;
    left: -33px;
    position: relative;
    top: -6px;
    width: 1473px;
  }
 
  .box .rectangle {
    height: 360px;
    left: 387px;
    position: absolute;
    top: 59px;
    width: 562px;
    background-color: #ececec;
  }
 
  .box .background {
    background-color: #b9bed6a6;
    height: 1024px;
    left: 33px;
    position: absolute;
    top: 6px;
    width: 1440px;
  }
 
  .box .conteiner-azul {
    background-color: #055e5e;
    height: 1030px;
    left: 33px;
    position: absolute;
    top: 0;
    width: 338px;
  }
 
  .box .vector {
    height: 4px;
    left: 33px;
    position: absolute;
    top: 957px;
    width: 327px;
  }
 
  .box .boto-sobre {
    height: 68px;
    left: 34px;
    position: absolute;
    top: 960px;
    width: 329px;
  }
 
  .box .overlap-group {
    background-color: #065f5f;
    height: 68px;
    right: 40px;
    position: relative;
    width: 327px;
  }
 
  .box .text-wrapper {
    color: #ffffff9e;
    font-family: "Fredoka-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 19px;
    white-space: nowrap;
  }
 
  .box .img {
    height: 25px;
    left: 28px;
    position: absolute;
    top: 21px;
    width: 25px;
  }
 
  .box .menu {
    height: 294px;
    left: 0;
    position: absolute;
    top: 337px;
    width: 371px;
  }
 
  .box .ic-twotone {
    height: 24px;
    left: 657px;
    position: absolute;
    top: -2395px;
    width: 24px;
  }
 
  .box .boto-TCC {
    height: 68px;
    left: 34px;
    position: absolute;
    top: 226px;
    width: 329px;
  }
 
  .box .div {
    color: #ffffff9e;
    font-family: "Fredoka-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 19px;
    white-space: nowrap;
  }
 
  .box .vector-2 {
    height: 26px;
    left: 23px;
    position: absolute;
    top: 20px;
    width: 24px;
  }
 
  .box .boto-estgio {
    height: 68px;
    left: 34px;
    position: absolute;
    top: 147px;
    width: 329px;
  }
 
  .box .vector-3 {
    height: 26px;
    left: 22px;
    position: absolute;
    top: 21px;
    width: 24px;
  }
 
  .box .boto-notificaes {
    height: 68px;
    right: 44px;
    position: absolute;
    top: 69px;
    width: 363px;
  }
 
  .box .overlap-2 {
    height: 68px;
    left: 34px;
    position: absolute;
    top: 0;
    width: 327px;
  }
 
  .box .normal {
    background-color: #065f5f;
    height: 68px;
    right: 30px;
    position: absolute;
    top: 0;
    width: 327px;


  }
 
  .box .notificao-normal {




position: absolute;
left: 1.6%;
right: 96.53%;
top: 40.82%;
bottom: 56.05%;


background: #A0C2C2;


  }
 
  .box .text-wrapper-2 {
    color: #ffffff9e;
    font-family: "Fredoka-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 57px;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 192px;
  }
 
  .box .notificao-mouse-em {
    height: 26px;
    left: 657px;
    position: absolute;
    top: -2515px;
    width: 22px;
  }
 
  .box .boto-pendentes {
    height: 68px;
    left: 44px;
    position: absolute;
    top: 0;
    width: 329px;
  }
 
  .box .text-wrapper-3 {
    color: #ffffff9e;
    font-family: "Fredoka-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 57px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 160px;
  }
 
  .box .vector-4 {
    height: 26px;
    left: 12px;
    position: absolute;
    top: 21px;
    width: 26px;
  }
 
  .box .perfil {
    height: 52px;
    left: 44px;
    position: absolute;
    top: 26px;
    width: 329px;
  }
 
  .box .vector-5 {
    height: 4px;
    left: -35px;
   
    position: absolute;
    top: 50px;
    width: 327px;
  }
 
  .box .vector-6 {
    height: 37px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 36px;
  }
 
  .box .text-wrapper-4 {
    color: #ffffff;
    font-family: "Fredoka-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
    white-space: nowrap;
  }
 
  .box .h-1 {
    color: #000000;
    font-family: "Fredoka-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    left: 423px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77px;
    white-space: nowrap;
  }
 
  .box .rectangle-2 {
    height: 475px;
    left: 1008px;
    position: absolute;
    top: 60px;
    width: 431px;
   background-color: rgb(255, 255, 255);
  }
 
  .box .text-wrapper-5 {
    color: #000000;
    font-family: "Fredoka-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 30px;
    left: 1032px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 92px;
    white-space: nowrap;
  }
