@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
	background-color: #b9bed6a6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #008080;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li{
    margin-left: 7px;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{
    background-color: white;
    color: black;
}

.banner{
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url('../img/background-inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo{
    color: #008080;
    font-size: 60px;
    font-weight: 600;
}

.texto .sub_titulo{
    color: #008080;
    font-size: 58px;
    font-weight: 600;
}

.texto .botoes{
    margin-top: 30px;
}
.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.texto .botoes button.n-overlay{
    color: #008080;
    background: none;
    border: 2px solid white;
}

.texto .botoes button.n-overlay:hover{
    color: white;
    background-color: #008080;
}

.texto .botoes button.overlay{
    background: #008080;
    color: white;
    animation: vibrar 0.5s ease-in-out infinite both;
}

@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
