@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url(../css/barra_lateral.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    /*justify-content: left;
    align-items: center;
    min-height: 90px; */
    /*grid-template-columns: 10% auto auto auto;*/
   /* grid-template-columns: 1fr 2fr;*/
    /*grid-template-areas: 
    'navegacao content content content content content content content content content'
    'navegacao content content content content content content content content content'
    'navegacao content content content content content content content content content';*/
  
    background-color: #b9bed6a6;
}

.content{
  flex: 1;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.notification {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
        }

.notification-container {
  max-width: 500px;
  margin: 100px;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.button {
  background-color: #065f5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #b30000;
}

fieldset {
  border: 2px solid #065f5f;
  padding: 10px;
  box-sizing: border-box;
}
        
.mover{
  flex: 2;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 2%;
}