@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url(../css/barra_lateral.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  background-color: #FFFFFf;
}

.grid-container {
  flex: 1;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-item {
  flex: 1;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#divBusca{
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 2%;
  background-color:#bebfbf;
  border:solid 1px;
  width:70%;
  height:6%;
  border:none;
}

#txtBusca{
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  width:100%;
  height:100%;
}

.search-btn {
  align-items: first baseline;
  left: 4%;
}

.table {
  background-color: #e0e0e0;
  padding: 10px;
}

#estudantes {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#estudantes td,
#estudantes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#estudantes tr:nth-child(even) {
  background-color: #f2f2f2;
}

#estudantes tr:hover {
  background-color: #ddd;
}

#estudantes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

